[Unit]
Description=Grafana instance
After=network.target

[Service]
ExecStart={{ grafana_home}}/grafana-v{{ grafana_version }}/bin/grafana server --homepath={{ grafana_home}}/grafana-v{{ grafana_version }}
Restart=always
User={{ monitor_user }}
Group={{ monitor_group }}

[Install]
WantedBy=multi-user.target

