[Unit]
Description="{{ app_name }} instance"
After=network.target

[Service]
ExecStart=/usr/bin/{{ app_name }} \
  --config.file={{ app_home }}/{{app_name}}.yml \
  --storage.tsdb.path={{ app_home }}/database \
  --web.listen-address=0.0.0.0:9090 
 # --web.external-url=http://localhost:9090

Restart=always
User={{ app_name }}
Group={{ app_name }}

RestartSec=3
LimitNOFILE=4096

# CPU and memory limits
CPUQuota=50%
MemoryMax=300M


[Install]
WantedBy=multi-user.target

